:host {
  display: contents;
  height: 100%;
}


x_body {
  all: inherit;
  display: grid;
  grid-template: auto auto / auto;
  justify-items: center;
  overflow: auto;
  text-align: center;
}


.content {
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 15px;
}

.head {
  align-self: center;
  display: block;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
