:host {
  display: contents;
  height: 100%;
}


x-slider {
  background: url('../../../Media/background.jpg');
  height: 100%;
  user-select: none;
}

x-screen {
  font-family: 'Font';
  color: #fff;
  height: 100%;
}

x-popup {
  color: #000;
  z-index: 1;
}


[popup_link] {
  cursor: pointer;
}

[popup_link]:hover {
  color: #ddd;
}

  .denominator {
    border-top: 1px solid #000;
    display: inline;
  }
  
  .subscript {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    width: 30px;
    /* font-family: 'Cambria Math'; */
    font-style: italic;
  }
  
  .letter {
    grid-row: 1 / -1;
    font-size: xx-large;
  }
  
  .formula {
    display: grid;
    grid-auto-flow: column;
    width: 400px;
  }
  
  .symbol {
    font-size: xx-large;
  }
