<x_algebra>
  <c-slider points='false'>
    <c-screen head='Удивительное путешествие в страну рациональных дробей'>
      <div>Подготовил:</div>
      <div>ученик VIII "А" класса</div>
      <div>МКОУ Семилукской СОШ №1</div>
      <div>Кошелев Николай</div>
    </c-screen>
    
    
    <c-screen head='Проблема работы'>
      <div>Научиться решать сложные задания, в которых используются рациональные дроби.</div>
    </c-screen>

    <c-screen head='Что нас ожидает (Цели и задачи работы)'>
      <li>Закрепление знаний и умений правил умножения и деления рациональных дробей.</li>
      <li>Повторение и обобщение полученных знаний о рациональных дробях.</li>
      <li>Рассмотрение сложных случаев умножения и деления рациональных дробей.</li>
    </c-screen>
    
    <c-screen head='Что нам понадобится?'>
      <ol>
        <li popup_link='popup_1'>Правило умножения рациональных дробей</li>
        <li popup_link='popup_2'>Правило деления рациональных дробей</li>
        <li popup_link='popup_3'>Умение разложить на множители</li>
      </ol>
      
      <c-popup popup_name='popup_1' slot='popups'>Чтобы умножить дробь на дробь, нужно перемножить их числители и перемножить их знаменатели и первое произведение записать числителем, а второе − знаменателем дроби.</c-popup>
      <c-popup popup_name='popup_2' slot='popups'>Чтобы разделить одну дробь на другую, нужно первую дробь умножить на дробь, обратную второй.</c-popup>
      <c-popup popup_name='popup_3' slot='popups'>
        <p style='font-weight: 900;'>Разложение многочленов на множители – это тождественное преобразование, в результате которого многочлен преобразуется в произведение нескольких сомножителей – многочленов или одночленов. Cуществует несколько способов разложения многочленов на множители.</p>
        <p><span style='text-decoration: underline;'>Способ 1.</span> Вынесение общего множителя за скобку. Это преобразование основывается на распределительном законе умножения: ac + bc = c(a + b). Суть преобразования заключается в том, чтобы выделить в двух рассматриваемых компонентах общий множитель и «вынести» его за скобки.</p>
        <p><span style='text-decoration: underline;'>Способ 2.</span> Группировка. Способ группировки заключается в объединении компонентов многочлена таким образом, чтобы над ними было легко совершать действия (сложение, вычитание, вынесение общего множителя).</p>
        <p><span style='text-decoration: underline;'>Способ 3.</span> Использование формул сокращенного умножения. «Мастерство» владением этим способом состоит в том, чтобы заметить в выражении одну из формул сокращенного умножения.</p>
        <ol>
          <li>Квадрат суммы: (a+b)<sup>2</sup>=a<sup>2</sup>+2ab+b<sup>2</sup></li>
          <li>Квадрат разности: (a−b)<sup>2</sup>=a<sup>2</sup>−2ab+b<sup>2</sup></li>
          <li>Разность квадратов: (a−b)(a+b)=a<sup>2</sup>−b<sup>2</sup></li>
          <li>Куб суммы: (a+b)<sup>3</sup>=a<sup>3</sup>+3a<sup>2</sup>b+3ab<sup>2</sup>+b<sup>3</sup></li>
          <li>Куб разности: (a+b)<sup>3</sup>=a<sup>3</sup>-3a<sup>2</sup>b+3ab<sup>2</sup>-b<sup>3</sup></li>
          <li>Сумма кубов: (a+b)(a<sup>2</sup>-ab+b<sup>2</sup>)=a<sup>3</sup>+b<sup>3</sup></li>
          <li>Разность кубов: (a-b)(a<sup>2</sup>+ab+b<sup>2</sup>)=a<sup>3</sup>−b<sup>3</sup></li>
        </ol>
      </c-popup>
    </c-screen>
    
    <c-screen head='Путешествие начинается!'>
      <img slot='content' src='./Media/Road.png'>
    </c-screen>
    
    <c-screen head='Остановка 1. Деревня Разминка'>
      <div>Для начала давайте потренируемся и решим не очень сложные задания.</div>
      <div>Упростите выражение:</div>
      <img src='./Media/task1.png'>
      <div popup_link='popup_1'>Интересные факты про рациональные дроби</div>
      
      <c-popup slot='popups' popup_name='popup_1'>
        <iframe width="709" height="399" src="https://www.youtube.com/embed/qvRk8Y1yHJI" title="YouTube video player" frameborder="0"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </c-popup>
    </c-screen>
    
    <c-screen head='Остановка 2. Село Арифметика'>
      <div>Вычислите:</div>
      <img src='./Media/task3.png'>
    </c-screen>
    
    <c-screen head='Остановка 3. Поселок Счетоводы'>
      <div>Найдите значение выражения:</div>
      <img src='./Media/task4.png'>
    </c-screen>
    
    <c-screen head='Остановка 4. Город Равенство'>
      <div>Докажите тождество:</div>
      <img src='./Media/task5.png'>
    </c-screen>
    <c-screen head='Итоги путешествия'>
      <ol>
        <li>Мы научились преобразовывать рациональные выражения.</li>
        <li>Мы научились решать математические задачи, используя правила умножения и деления рациональных дробей.</li>
        <li>Мы разобрали сложные случаи в этой области.</li>
      </ol>
    </c-screen>
    
    <c-screen head='Спасибо за путешествие!'>
      
      <div>До новых встреч!</div>
      <img src='./Media/End.gif'>
    </c-screen>
  </c-slider>
</x_algebra>
